/* PREDEFINED styles : styles defined on individual components (predefined by components) */

/* ====== fieldGid ====== */
/* field grid header */

.TFieldGrid-header {
}

/* field grid field header */
.TFieldGrid-field-header {
	color: #9e9e9e;
	font-weight: normal;
	padding: 6px 20px;
}

.TFieldGrid-field-separator {
}

.TFieldGrid-field-separator div {
      display: none;
}

.rowIteratorHeader {
  color: #9B9B9B;
  font-weight: normal;	
  padding-right:5px;	
  width: 30%;
  padding: 6px 0;
}

.rowIteratorFieldSeparator {
  width:15px; 
  height:16px;
  display:inline-block;
  vertical-align: text-bottom;
}

.rowIteratorValue {
  padding-left: 5px;
}

/* field grid value */
.TFieldGrid-field-value {
  color: #383838;
  padding: 6px 3px;
  font-weight: normal;
  width: 100%;
  line-height: 154%;
}

.data-value {
  color: #383838;
  padding: 6px;
  line-height: 154%;
}

.data-value > div {
    display: flex;
    flex-flow: row;
}

.data-value span:not(:empty)  {
  padding: 0 0 0 .5em;
}

.data-value span.literal {
  color: #888;
}

.TFieldGrid-field {	
  height: 39px;
}

.TFieldGrid-dataRow {
  display: table-row;
}

.TFieldGrid-dataRow-odd {

}

.TFieldGrid-dataRow-even {
	
}

.TFieldGrid-dataRow-last {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.TFieldGrid-dataRow:HOVER {
  background: #F0F0F0;
}

.TStringTemplate .TComponentBody {
  background: transparent;
  border: 0;
}

/* field grid data */
.TFieldGrid-data {
  width: 100%;
  border-spacing: 0px;
  display: table;
  background: #fff;
}

.TFieldGrid-row-separator {
  display: table-row;
  box-shadow: 0 1px #ececec;
}

/* ====== field parts ====== */

/* any field part */
.TFieldPart {
  padding: 3px 10px;
}

/* label field */
.TFieldLabel {
   display: inline-block;
}

/* value field and its hover */
.TFieldValue{
    color: #888;
    background-color: #FFF;
}
.TFieldValue:HOVER{
    color: #000;
    background-color: #eee;
}
/* value field in dependency on validity */
.TFieldValue .TFieldValidityValid {
  color: #008000;
}

.TFieldValue .TFieldValidityInvalid {
  color: #800000;
}

/* confirmed value field and its hover */
.TFieldConfirmedValue{
    color: #8A8;
}
.TFieldConfirmedValue:HOVER{
    color: #000;
    background-color: #eee;
}

/* description field */
.TFieldDescription{
}

/* validity field */
.TFieldValidity{
  flow: right;
}

/* validity field label */
.TFieldValidityLabel {
  padding: 0px 8px;
}

/* DELETE? explicit image displayed in the validity field */
.TFieldValidityImage{
}

/* valid validity field */
.TFieldPart.TFieldValidity.TFieldValidityValid {
  color: #008000;  
  background: url("${appPrefix}/media?file='images/validBackground.png'") 0px 4px no-repeat;
}

/* invalid validity field */
.TFieldPart.TFieldValidity.TFieldValidityInvalid {
  color: #A00000;
  /* sets background from the server's directory via RDM media servlet */
  background: url("${appPrefix}/media?file='images/invalidBackground.png'") 0px 4px no-repeat;  
}

/* ====== rowGrid & pager/nonPagedStatusBar ====== */

/* status bar under the RowGrid when paged=false */
.TCNonPagedStatusBar {
}
/* label in the status bar when paged=false (pager replacement) it displays just rows range, e.g. 1-10 or 0-0  */
.TCNonPagedStatusBarLabel {
  padding: 1px 5px;
}

/* Tab header customization */
.TTabHeader {
}

/* Tab header's image */
.TTabImage {
}

/* Tab header's label */
.TTabLabel {
  
}

/* LOCAL styles - user-defined and referenced from tmpl or layout file */

.t_innerFillPanel {
  position: relative;
  height: 100%;
  width: 100%;
}

.fieldPaneLabel {
  border-bottom:1px solid #abc;  
  background: #666670;
  color:#fff;  
  padding:10px;
}

.borderedSection {
  position:absolute; 
  left:0px; 
  right:0px; 
  top:0px; 
  bottom:0px; 
  margin: 5px; 
  border:1px solid #888;
  border-radius: 2px;
}

.scrollableSection {
  padding: 5px;
  overflow: auto;
}

.t_fieldTemplate {
  border: 1px solid #ccc;
  margin: 2px 5px;
  border-radius: 3px;
}

.mda-BorderedSection {
  border-color: #D9D9D9;
  border-width: 1px;
  border-style: solid;
  background: #FFF;
  padding: 0px;
  border-radius: 3px;
  /* max-width: 600px; */
  width:570px;
}

.editMode.mda-BorderedSection {
  border-color: #C7BED3;
  border-width: 1px;
  border-style: solid;  
  background: #fff;
  padding: 0px;
  border-radius: 3px;
}

.mda-nonBorderedSection {
	margin: 10px;
	background: transparent;
}

.mda-nonBorderedSection .TComponentHeader {
	background: transparent;
}

.mda-columnsPanel {
	display:table;
	width:100%;
}

.mda-halfWidthColumn {
	display: table-cell; 
	width:50%; 
	vertical-align:top;	
}

.mda-rightContentMargin {
	width: auto;
	margin: 10px 20px 25px 10px;
}

.mda-leftContentMargin {
	width: auto;
	margin: 10px 10px 25px 20px;
}

.mda-leftRightContentMargin {
	width: auto;
	margin: 10px 20px;
}

.mda-limitWidthContentContainer {
	margin:0 auto; 
	position:relative; 
	padding:0px; 
	border: 0px; 
	max-width: 1200px;
}

.mda-Section-title {
  color: #bbf;
}

.TComponentHeader {
  color: #424242;
  font-family: open sans;
  font-weight: bold;
  padding: 16px 0 10px 0;
  border-bottom: 0px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image: none;
  position: relative;
  line-height: 100%;
}

.TComponentLabel-empty {
  color: #888;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: 10%;
  padding: 8px 0px;
}

.TComponentBody {
}

.TFieldGrid .TComponentBody,
.TRowIterator > .TComponentBody {
  border: 1px solid #e0e0e0;
  background: #fff;
}

.iteratorRow-inner {
	position:relative; 
	left:0px; right:0px; top: 0px; bottom: 0px;
	border-radius: 3px; 
	padding:0px 16px; 
	min-height: 15px;
}

.TRowIterator-row {
  padding: 0 16px;
  min-height: 39px;
  display: flex;
  align-items: center;
}

.TRowIterator-row-even {

}

.TRowIterator-row-odd {

}

.TRowIterator-row:HOVER {
  background: #F0F0F0;   
}

.TRowIterator-row-last {
	border-bottom: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.TRowIterator-row-selected {
	background: rgba(74, 60, 109, 0.07);
}

.TRowIterator-row-separator {
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
}

.TRowIterator-row-selectionWrapper {
	cursor: default;
}

.TRowIterator-separator {
  height: 1px;
  border-bottom: 1px solid #ececec;
}

.TRowGrid-grid {
}

.TRowGrid-grid .TComponentBody {
  border: 1px solid transparent;
  background: transparent;
}


.mda-Section-RowLabel {
  
}

.mda-Section-RowValue {

}

.TOptionSwitch {

}

.linkImage {
  width: 16px;
  vertical-align: text-top;
  position: absolute;
  right: 0;
  opacity: .4;
}
.TRowIterator-row:hover .linkImage {
    opacity: 1;
}

.linkImage:HOVER {
  cursor: pointer;
}

.activityState {
	float:right;
	width: 16px; 
	margin-top: 0.7em;
}

.TFieldGrid-dataRow-last .TFieldGrid-field {
	border-bottom: 0px transparent;
}

.TComponentElement {
	image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.headerButtonActionAdd {
	background: url('images/action-create.png') no-repeat scroll center center transparent;
}
.headerButtonActionAdd:HOVER {
	cursor: pointer;
	background: url('images/action-create-hover.png') no-repeat scroll center center;
}
.TComponentElement-disabled.headerButtonActionAdd {
	display: none;
}
.TComponentElement-disabled.headerButtonActionAdd:HOVER {
	display: none;
}

.headerButtonActionDeactivate {
	background: url('images/action-deactivate.png') no-repeat scroll center center transparent;
}
.headerButtonActionDeactivate:HOVER {
	cursor: pointer;
	background: url('images/action-deactivate-hover.png') no-repeat scroll center center;
}
.TComponentElement-disabled.headerButtonActionDeactivate {
	display: none;
}
.TComponentElement-disabled.headerButtonActionDeactivate:HOVER {
	display: none;
}

.headerButtonActionActivate {
	background: url('images/action-activate.png') no-repeat scroll center center;
}
.headerButtonActionActivate:HOVER {
	cursor: pointer;
	background: url('images/action-activate-hover.png') no-repeat scroll center center;
}
.TComponentElement-disabled.headerButtonActionActivate {
	display: none;
}
.TComponentElement-disabled.headerButtonActionActivate:HOVER {
	display: none;
}

.headerButtonAction-instance-drop {
	background: url('images/action-split.png') no-repeat center;
}
.headerButtonAction-instance-drop:HOVER {
	background: url('images/action-split-hover.png') no-repeat center;
	cursor: pointer;
}
.TComponentElement-disabled.headerButtonAction-instance-drop {
	display: none;
}

.headerButtonAction-instance-rebind {
	background: url('images/action-merge.png') no-repeat center;
}
.headerButtonAction-instance-rebind:HOVER {
	background: url('images/action-merge-hover.png') no-repeat center;
	cursor: pointer;
}
.TComponentElement-disabled.headerButtonAction-instance-rebind {
	display: none;
}

.headerButtonShowAll {
	background: #f0f0f0;
	font-size: 0.9em;
	color: #888;
	display: inline-block;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	width: auto;
}
.headerButtonShowAll:HOVER {
	background: #ddd;
	color: #222;
	cursor: pointer;
}

.TComponentHeader-actionPanel {
	margin-left: auto;
}

.TComponentHeader-actionPanel .TComponentElement:last-child {
	margin-right: 0 !important;
}

.TComponentHeader-checkboxAllPanel {
	padding: 0 11px 0 16px;
}

.rowState-deactivated .data-value {
	color: #b5b5b5;
	text-decoration: line-through;
}

.rowState-deactivated .rowIteratorHeader {
	color: #b5b5b5;
	text-decoration: line-through;
}

.rowState-not-deleted {
	
}

.scrollContent {
	padding: 10px;
}

.headerButtonActionAdd,
.headerButtonActionAdd:HOVER,
.headerButtonActionActivate,
.headerButtonActionActivate:HOVER,
.headerButtonActionDeactivate,
.headerButtonActionDeactivate:HOVER,
.headerButtonAction-instance-drop,
.headerButtonAction-instance-drop:HOVER,
.headerButtonAction-instance-rebind,
.headerButtonAction-instance-rebind:HOVER {
	background-size: 74%;
}

.atc-errorField, .atc-warnField, .atc-infoField {
  /* copy of styles from native css class .atcTextBox that is rendered in edit mode - to ensure consistency */
  padding: 0 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 2px;
  min-height: 26px;
  line-height: 140%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.atc-errorField {
	border: none !important;
	background-color: rgba(255,82,82,0.1) !important;
	border-radius: 2px;
}
.editMode .atc-errorField {
	border: 1px solid rgba(255,82,82,0.2) !important;
}

.atc-warnField {
	border: none !important;
	background-color: rgba(255,219,102,0.15) !important;
	border-radius: 2px;
}
.editMode .atc-warnField {
	border: 1px solid rgba(255,219,102,0.3) !important;
}

.atc-infoField {
	border: none !important;
	background-color: rgba(58,139,255,0.1) !important;
	border-radius: 2px;
}
.editMode .atc-infoField {
	border: 1px solid rgba(58,139,255,0.2) !important;
}

.atc-errorRow .atc-related-validation {
	background-color: rgba(255,82,82,0.1);
	border-radius: 2px;
}

.atc-warnRow .atc-related-validation {
  	background-color: rgba(255,219,102,0.15);
  	border-radius: 2px;
}

.TValidationInfo-row {
	line-height: 1em;
	padding: 0.5em 2em;
}

.TEntityLabel {
  display: inline-block;
}

.TClickable:hover {
  cursor: pointer;
}