<?xml version="1.0" encoding="UTF-8"?>
<template>

    <parameters>
        <parameter name="firstColumnFormat"/>
        <parameter name="secondColumnFormat"/>
    </parameters>

    <mappings>
        <contextType>ROW</contextType>
    </mappings>

    <content>

        <!-- expand to max, create container for absolute content -->
        <div style="width:100%;position:relative;">
            <!-- absolute content: create background, fill exact space -->
            <div classes="rowState-${sys:eng_active}">
                <!-- relative content: provide exact padding -->
                <div style="width: 100%; display: flex; align-items: center;">
                    <!-- individual row values with table-cell displaying -->
                    <div style="display: inline-block; left: 0px; position: relative;" classes="rowIteratorHeader" data-ui-component="row-iterator-row-header">
                        <rowLabel dataFormat="${firstColumnFormat}">
                            <actions>
                                <action action="select"/>
                            </actions>
                        </rowLabel>
                    </div>
                    <div classes="rowIteratorFieldSeparator">
                    </div>
                    <div style="display: inline-block; left: 0px; position: relative; flex: 1;" classes="atc-errorRow-${sys:dq_indicator}">
                        <div style="display: inline-block; left: 0px; position: relative;" classes="rowIteratorValue" data-ui-component="row-iterator-row-value">
                            <rowLabel dataFormat="${secondColumnFormat}" classes="data-value">
                                <actions>
                                    <action action="openDetail"/>
                                </actions>
                            </rowLabel>
                        </div>
                        <div style="display:inline-block; top:25%; width: 16px;" classes="linkImage" data-ui-component="row-iterator-row-link">
                            <image href="${appPrefix}/images/link.png" height="15px" width="10px">
                                <actions>
                                    <action action="openDetail"/>
                                </actions>
                            </image>
                        </div>
                        <div classes="activityState">
                            <image href="${appPrefix}/images/row-activity-${sys:eng_active}.png" height="14px" width="14px" tooltip="Activity state: ${sys:eng_active}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </content>
</template>
